{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
  <h1 class="text-primary">{{ post.title_text }}</h1>
  <small>
  {{ post.date_created.date }} |&nbsp;
  Author:&nbsp;
  {{ post.author.author_name}}&nbsp;
  </small>
  <div>	   
    <small>
    Bio:
    {{ post.author.author_bio}}
    </small>
  </div>
  <p>{{ post.description_text | linebreaks }}</p>
  <hr>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editPostModal">
  Edit Post
  </button>
  <a class="btn btn-danger" href="{% url 'delete_post' post.pk%}" >
  Delete Post
  </a>
</div>
<!-- Modal to Edit Post -->
<div class="modal fade" id="editPostModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold text-primary" id="editPostModalLabel">Edit Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" id="editPostForm" action="{% url 'edit_post' post.pk%}">
          {% csrf_token %}
          <div class="form-group">
            <label for="name">Author Name</label>
            <input name="name" type="text" class="form-control" id="name" value="{{post.author.author_name}}">
          </div>
          <div class="form-group">
            <label for="bio">Author Bio</label>
            <input name="bio" type="text" class="form-control" id="bio" value="{{post.author.author_bio}}">
          </div>
          <div class="form-group">
            <label for="title">Title</label>
            <input name="title" type="text" class="form-control" id="title" value="{{post.title_text}}">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea style="width:100%;max-width:100%;max-height:300px;" class="form-control" name="description" form="editPostForm">{{post.description_text}}</textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->



{% endblock %}