{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
  <h1 class="text-dark">Home</h1>
  <hr>
  {% for post in posts %}
  <h2 class="text-primary">{{ post.title_text }}</h2>
  <small>
  {{ post.date_created.date }} |&nbsp;
  Author:&nbsp;
  {{ post.author.author_name}}
  </small>
  <p>{{ post.description_text | slice:":20" }}...</p>
  <a class="btn btn-outline-primary" href="{% url 'blog_detail' post.pk%}">View Details</a>
  {% endfor %}
   <hr/ >
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#postModal">
  Create New Post
  </button>
</div>
<!-- Modal to Add Post -->
<div class="modal fade" id="postModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold text-primary" id="postModalLabel">Create Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="postForm" method="post" action="{% url 'add_post' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="name">Author Name</label>
            <input name="name" type="text" class="form-control" id="name" placeholder="Name" maxlength="20" required>
          </div>
          <div class="form-group">
            <label for="bio">Author Bio</label>
            <input name="bio" type="text" class="form-control" id="bio" placeholder="Bio" maxlength="200" required>
          </div>
          <div class="form-group">
            <label for="title">Title</label>
            <input name="title" type="text" class="form-control" id="title" placeholder="Title" maxlength="200" required>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea style="width:100%;max-width:100%;max-height:300px;" class="form-control" name="description" form="postForm" placeholder="Enter text here..." maxlength="2000"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}